<!DOCTYPE html>
<html lang="pl">
<head>{% load static %}
    <link rel="icon" href="{% static 'icons/favicon.ico' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Demo</title>
    <link rel="stylesheet" href="{% static 'css/skakun.css' %}" type="text/css" charset="utf-8">
</head>

<body>

{% block menu %}
{% endblock menu %}

<div class="container">
    {% block content %}
    {% endblock content %}
</div><!-- /container -->

{% block footer %}
{% endblock footer %}

<!-- Core JavaScript -->
<script>window.jQuery || document.write('<script src="{% static 'js/jquery.min.js' %}"><\/script>')</script>
<script src="{% static 'js/skakun.js' %}"></script>

</body>
</html>
