<!-- Fixed navbar -->
<div class="navbar-wrapper">
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-fixed-top">
            <!--<div class="container">-->
            <!-- LOGO -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><i class="demo-icon icon-router blue" aria-hidden="true"></i></a>
            </div>
            <!-- MENU LEFT -->
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li class="active"><a href="#">Dashboard</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Usługi<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/demo/">Akcja indeks</a></li>
                            <li><a href="/demo/2">Akcja indeks 2</a></li>
                            <li><a href="#">Another action <span class="label label-success">3</span></a></li>
                            <li><a href="#">Something else here
                                <span class="label label-warning">3</span>
                                <span class="label label-warning">3</span>
                                <span class="label label-warning">3</span>
                            </a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#"><i class="demo-icon icon-telephone blue"></i> Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Urządzenia<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action <span class="label label-success">3</span></a></li>
                            <li><a href="#">Something else here
                                <span class="label label-warning">3</span>
                                <span class="label label-warning">3</span>
                                <span class="label label-warning">3</span>
                            </a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>


                <!-- MENU RIGHT -->
                <ul class="nav navbar-nav navbar-right">
                    <!--<li><a href="#"><span class="label label-success">3</span></a></li>-->
                    <li><a href="#">
                        <button class="btn btn-danger btn-xs" type="button">
                            <i class="demo-icon icon-router"></i>
                            Messages <span class="badge">4</span>
                        </button>
                    </a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Alerty <span class="demo-icon icon-down-open"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">Core</li>
                            <li><a href="#">
                                <button class="btn btn-danger btn-xs" type="button">
                                    <i class="demo-icon icon-router"></i>
                                    Messages <span class="badge">4</span>
                                </button>
                            </a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">LAN</li>
                            <li><a href="#">
                                <button class="btn btn-danger btn-xs" type="button">
                                    <i class="demo-icon icon-router"></i>
                                    Messages <span class="badge">4</span>
                                </button>
                            </a></li>
                            <li><a href="#">
                                <button class="btn btn-danger btn-xs" type="button">
                                    <i class="demo-icon icon-router"></i>
                                    Messages <span class="badge">4</span>
                                </button>
                            </a></li>
                            <li><a href="#">
                                <button class="btn btn-danger btn-xs" type="button">
                                    <i class="demo-icon icon-router"></i>
                                    Messages <span class="badge">4</span>
                                </button>
                            </a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="demo-icon icon-tools-key"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Panel zarządzania</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Logi</a></li>
                            <li><a href="#">Wyloguj</a></li>
                            <li><a href="./">Wyloguj<span class="sr-only">(current)</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
            <!--</div>-->
        </nav>
    </div>
</div>